.front {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
}

.front-header-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.front-header-main {
    font-size: 3em;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}

.front-header-line::after{
    content: "|";
    animation: blink2 500ms linear infinite alternate;
    font-size: 3em;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

@-webkit-keyframes blink2{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink2{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink2{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
