.front {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
}

.front-header-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.front-header-main {
    font-size: 3em;
    color: white;
}

.blinking-cursor {
    font-weight: 100;
    display: inline-block;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}