.front {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
}

.front-header-main {
    font-size: 3em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 20vh;
}

.material-icons.md-96 { font-size: 120px; }

.absolute_center_bottom {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}